.login {
    border-radius: 5px;
    background-color: #d07504ad;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: black;
    position:relative;
    padding: 10px;
    text-align: center;
    
}