.a {
    /* height: 50px; */
    
    border-radius: 10px;
    background-color: #7969ff5e;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px; 
    margin-bottom: 30px;
    font-size: 20px;
    /* padding: 20px; */
    text-align: center;
    /* color: black */
}